.bg-mynav {
    background-color: #2c3e50;
  }

  body {
    background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;

}
#comment-box, #postcomment {
    border: none;
    border-radius: 5px;
    margin: auto;
    display: block;
    width: 40%;
    background-color: pink;
    
}
#postcomment:hover{
    background-color: deeppink;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.comment {
  border: none;
  border-radius: 5px;
  margin: auto;
  display: block;
  width: 40%;
  background-color: pink;
  
}

.commentbyuser {
  border: none;
  border-radius: 5px;
  margin: auto;
  display: block;
  width: 40%;
  background-color: greenyellow;
  text-align: right;
  
}